

<!-- Body START -->
<!-- // Main Container Fluid END -->

<p></p>
<div class="innerLR">
        <div class="row-fluid">
                <div class="span9">
                        <p>Página web para hacer el modelo de la nueva fuente de datos:</p>
                        <p><a href="http://www.objgen.com/json/models/J6j" target="_blank" rel="noopener">http://www.objgen.com/json/models/J6j</a></p>

                        <form action="/update_newdatasource" method="post">
                                <textarea name="message" rows="10" cols="70"></textarea>
                                <br>
                                <input type="submit">
                        </form>    
                </div>
        </div>
</div>
<!-- Body END -->

