
<body class="">

  <!-- Main Container Fluid -->
  <div class="container-fluid fluid menu-left">

    <!-- Sidebar menu & content wrapper -->
    <div id="wrapper">

      <!-- Sidebar Menu -->

      <!-- // Sidebar Menu END -->

      <!-- Content -->
      <div id="content">

        <!-- Top navbar -->


        <!-- Body START -->
        <!-- // Main Container Fluid END -->
        <h1>{{title}}</h1>
        <p>Welcome to {{title}}</p>

        <!-- Body END -->



      </div>
      <!-- // Content END -->

    </div>
    <div class="clearfix"></div>
    <!-- // Sidebar menu & content wrapper END -->


    <!-- // Footer START -->
    <div id="footer" class="hidden-print">
      <!--  Copyright Line -->
      <div class="copy">
        Datalyzer @ 2017
      </div>
    </div>
    <!-- // Footer END -->

  </div>




</body>

