

        <!-- Body START -->
        <!-- // Main Container Fluid END -->
        <h1>{{title}}</h1>
        <p>Welcome {{user.local.email}}</p>

<p></p>

        <!-- Body END -->

<p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p>



<div class="home-btn" >
<a href="/public/customprocessor" class="btn btn-lg btn-danger">Add custom processor</a>
<a href="/public/newdatasource" class="btn btn-lg btn-success">Add new data source</a>
</div>