
<body class="">

  <!-- Main Container Fluid -->
  <div class="container-fluid fluid menu-left">

    <!-- Sidebar menu & content wrapper -->
    <div id="wrapper">

      <!-- Sidebar Menu -->

      <!-- // Sidebar Menu END -->

      <!-- Content -->
      <div id="content-index">

        <!-- Top navbar -->


        <!-- Body START -->
        <!-- // Main Container Fluid END -->
        <section class="billboard light">
          <header class="wrapper light">
            <a href="#"><img class="logo" src="/sublime-theme/img/logo_green_peq.png" alt=""/></a>
            <nav>
              <ul>
                <li><a href="login">Log-in</a></li>
                <li><a href="signup">Sign-up</a></li>
              </ul>
            </nav>
          </header>

          <div class="caption light animated wow fadeInDown clearfix">
            <h1>{{title}}</h1>
            <p>Create and Deploy Analysis Streaming Data Applications</p> 
          </div>
          
        </section><!--  End billboard  -->
          
        <!-- template http://pixelhint.com/demo/sublime/ -->


        <!-- Body END -->



      </div>
      <!-- // Content END -->

    </div>
    <div class="clearfix"></div>
    <!-- // Sidebar menu & content wrapper END -->


    <!-- // Footer START -->
    <div id="footer" class="hidden-print">
      <!--  Copyright Line -->
      <div class="copy">
        Datalyzer @ 2017
      </div>
    </div>
    <!-- // Footer END -->

  </div>

    <link rel="stylesheet" type="text/css" href="/sublime-theme/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/sublime-theme/css/fancybox-thumbs.css">
	<link rel="stylesheet" type="text/css" href="/sublime-theme/css/fancybox-buttons.css">
	<link rel="stylesheet" type="text/css" href="/sublime-theme/css/fancybox.css">
	<link rel="stylesheet" type="text/css" href="/sublime-theme/css/animate.css">
	<link rel="stylesheet" type="text/css" href="/sublime-theme/css/main.css">
    <script type="text/javascript" src="/sublime-theme/js/jquery.js"></script>
    <script type="text/javascript" src="/sublime-theme/js/fancybox.js"></script>
    <script type="text/javascript" src="/sublime-theme/js/fancybox-buttons.js"></script>
    <script type="text/javascript" src="/sublime-theme/js/fancybox-media.js"></script>
    <script type="text/javascript" src="/sublime-theme/js/fancybox-thumbs.js"></script>
    <script type="text/javascript" src="/sublime-theme/js/wow.js"></script>
    <script type="text/javascript" src="/sublime-theme/js/main.js"></script>
  
</body>

